.list {
  display: grid;
  gap: 1rem;
}

.list-item {
  padding: var(--spacing-6);
  border-radius: var(--border-radius-4);
  background-color: var(--color-background-surface-secondary);

  @media screen and (width >= 768px) {
    padding: var(--spacing-8);
  }
}

.list-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: var(--font-size-subheading);
  }
}

.list-item-content {
  color: var(--color-text-secondary);
}

.link {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  color: var(--color-text-link-primary);
}
