@layer base;

@layer base {
  .list {
    display: grid;
    gap: var(--spacing-3);

    @media screen and (width >= 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (width>= 1024px) {
      gap: var(--spacing-6);
    }
  }

  .list-item {
    padding: var(--spacing-6);
    border-radius: var(--border-radius-4);
    color: var(--color-text-secondary);
    background-color: var(--color-background-surface-secondary);
  }

  .list-item-description {
    margin-block-end: var(--spacing-3);
    font-size: var(--font-size-content-primary);
  }

  .list-item-value {
    font-weight: var(--font-weight-heading);
    font-size: var(--font-size-heading);
    color: var(--color-text-primary);
  }
}

.balance {
  background-color: var(--color-background-surface-primary);
  color: var(--color-text-inverse);
}

.balance-value {
  color: var(--color-text-inverse);
}
