.layout {
  display: grid;
  gap: 1rem;
  grid-column: breakout-start / breakout-end;
}

.list-item {
  padding: var(--spacing-6);
  border-radius: var(--border-radius-4);
  background-color: var(--color-background-surface-2);

  @media screen and (width >= 768px) {
    padding: var(--spacing-8);
  }
}

.list-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: var(--fs-2);
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-text-action-link-1);
  font-size: var(--fs-2);
}
