.layout {
  display: grid;
  gap: 2rem;
  padding: var(--spacing-6);
  border-radius: var(--border-radius-4);
  background-color: var(--color-background-surface-secondary);

  @media screen and (width >= 768px) {
    padding: var(--spacing-8);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: var(--font-size-subheading);
  }
}

.link {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  color: var(--color-text-link-primary);
}

.piechart-layout {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 1fr;
}

.list {
  display: grid;
  gap: 1rem;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  border-radius: var(--border-radius-6);
  background: var(--color-background-canvas-primary);
  overflow: hidden;
}

.theme-icon {
  --color-theme-icon: currentColor;

  width: 0.5rem;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--color-theme-icon);
}

.key {
  font-weight: var(--font-weight-action);
  margin-right: auto;
}

.amount {
  font-weight: var(--font-weight-heading);
}
