.layout {
  display: grid;
  gap: 1rem;
  padding: var(--spacing-6);
  border-radius: var(--border-radius-4);
  background-color: var(--color-background-surface-secondary);

  @media screen and (width >= 768px) {
    padding: var(--spacing-8);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: var(--font-size-subheading);
  }
}

.link {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  color: var(--color-text-link-primary);
}

.summary {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 1fr;
}

.sum-layout {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-radius: var(--border-radius-6);
  background-color: var(--color-background-canvas-primary);
}

.total-sum-layout {
  display: grid;
  gap: 0.25rem;
}

.list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.list-item {
  display: grid;
  border-radius: var(--border-radius-4);
  position: relative;
  background-color: var(--color-background-surface-secondary);
}

.list-value {
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
  padding-left: 1rem;
}

.label {
  font-weight: var(--font-weight-label);
  color: var(--color-text-secondary);
}

.total {
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading);
}

.name {
  font-weight: var(--font-weight-label);
  color: var(--color-text-secondary);
}

.target {
  font-weight: var(--font-weight-heading);
}

.theme-icon {
  --color-theme-icon: currentColor;

  width: 0.25rem;
  height: 100%;
  border-radius: var(--border-radius-6);
  position: absolute;
  left: 0;
  background-color: var(--color-theme-icon);
}
