.layout {
  display: grid;
  gap: 1rem;
  padding: var(--spacing-6);
  border-radius: var(--border-radius-4);
  background-color: var(--color-background-surface-secondary);

  @media screen and (width >= 768px) {
    padding: var(--spacing-8);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: var(--font-size-subheading);
  }
}

.list {
  display: grid;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5rem;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-border-input-primary);
  }
}

.link {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  color: var(--color-text-link-primary);
}

.name {
  font-weight: var(--font-weight-heading);
}

.amount {
  font-weight: var(--font-weight-heading);
}

.date {
  font-weight: var(--font-weight-action);
  color: var(--color-text-secondary);
}

.metadata {
  display: grid;
  gap: 0.5rem;
  justify-items: end;
}

.minus {
  color: var(--color-status-error);
}

.plus {
  color: var(--color-status-success);
}
