.layout {
  display: grid;
  grid-column: breakout-start / breakout-end;
  align-items: start;
  align-content: start;
  gap: 4rem;
}

.body {
  display: grid;
  justify-items: center;
  justify-self: center;
  gap: 1.5rem;
  padding: 2.5rem 1rem;

  h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-7);
  }

  p {
    font-size: var(--font-size-heading);
    color: var(--color-status-error-message);
  }
}
