.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: start;
  place-self: center;
  padding-inline: 4rem;
  gap: 4rem;
  background-color: var(--color-background-canvas-primary);
}

.header {
  display: grid;
  gap: 1rem;
  justify-items: center;

  p {
    font-weight: var(--font-weight-heading);
    font-size: var(--font-size-heading);
    color: var(--color-status-error);
    text-align: center;
  }
}

.body {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  text-align: center;

  p {
    font-weight: var(--font-weight-heading);
    font-size: 3rem;
  }

  p {
    font-size: var(--font-size-heading);
    color: var(--color-status-error-message);
  }
}

.error-icon {
  width: 5rem;
}
