.page-loader {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.loading-text {
  &::after {
    content: "Loading";
    animation: 1s linear infinite typewriter;
  }
}

@keyframes typewriter {
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
  100% {
    content: "Loading....";
  }
}
