.page {
  @media screen and (width >= 1024px) {
    display: grid;
    grid-template-areas: "nav dashboard" "nav dashboard";
    grid-template-columns: auto 1fr;
  }
}

.layout {
  --padding-inline-macro-grid: var(--spacing-4);
  --width-column-macro-grid-breakout: 20rem;
  --width-max-macro-grid-content: 50rem;

  display: grid;
  grid-template-columns:
    [full-width-start breakout-left-start] minmax(
      var(--padding-inline-macro-grid),
      1fr
    )
    [breakout-start breakout-right-start] minmax(
      0,
      var(--width-column-macro-grid-breakout)
    )
    [content-start] min(
      100% - 2 * var(--padding-inline-macro-grid),
      var(--width-max-macro-grid-content)
    )
    [content-end]
    minmax(0, var(--width-column-macro-grid-breakout))
    [breakout-end breakout-left-end]
    minmax(var(--padding-inline-macro-grid), 1fr)
    [full-width-end breakout-right-end];
  row-gap: var(--spacing-8);
  min-height: 100%;
  padding-block: var(--spacing-8);

  > * {
    grid-column: breakout-start / breakout-end;
  }

  @media screen and (width >= 1024px) {
    grid-area: dashboard;
  }
}

.nav-wrapper {
  position: sticky;
  bottom: 0;

  @media screen and (width >= 1024px) {
    grid-area: nav;
    top: 0;
    bottom: revert;
  }
}
