.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img {
  display: none;

  @media screen and (width >= 768px) {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.right {
  display: grid;
  place-content: center;
}
