.page {
  display: grid;
  padding: 1rem;

  @media screen and (width >= 768px) {
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
}

.page-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-block: var(--spacing-6);
  margin-inline: auto;
  border-bottom-left-radius: var(--border-radius-4);
  border-bottom-right-radius: var(--border-radius-4);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-background-cta-primary);

  @media screen and (width >= 768px) {
    display: none;
  }
}

.hero {
  display: none;

  @media screen and (width >= 768px) {
    display: grid;

    > * {
      grid-area: 1 / 1;
    }
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-10);
}

.hero-description {
  color: var(--color-text-inverse);

  & * + * {
    margin-top: var(--spacing-6);
  }

  h2 {
    font-size: var(--font-size-subheading);
  }
}

.hero-image {
  display: none;

  @media screen and (width >= 768px) {
    display: block;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 2rem);
    border-radius: var(--border-radius-6);
    object-fit: cover;
  }
}

.auth-panel {
  display: grid;
  place-content: center;
  grid-template-columns: min(100%, 35rem);
  padding: 1rem;
}
