.layout {
  --macro-grid-padding-inline: var(--spacing-10);
  --macro-grid-breakout-column-width: 20rem;
  --macro-grid-content-max-width: 50rem;

  display: grid;
  grid-template-columns:
    [full-width-start breakout-left-start] minmax(
      var(--macro-grid-padding-inline),
      1fr
    )
    [breakout-start breakout-right-start] minmax(
      0,
      var(--macro-grid-breakout-column-width)
    )
    [content-start] min(
      100% - 2 * var(--macro-grid-padding-inline),
      var(--macro-grid-content-max-width)
    )
    [content-end]
    minmax(0, var(--macro-grid-breakout-column-width))
    [breakout-end breakout-left-end]
    minmax(var(--macro-grid-padding-inline), 1fr)
    [full-width-end breakout-right-end];
  row-gap: var(--spacing-8);
  padding-block: var(--spacing-8);
}

.fallback {
  grid-column: breakout-start / breakout-end;
}

.header {
  grid-column: breakout-start / breakout-end;
  display: flex;
  justify-content: space-between;

  h1 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-4);
  }
}
