.layout {
  display: grid;
  gap: 2rem;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  padding: 1.25rem;
  border-radius: var(--border-radius-6);
  background-color: var(--color-background-surface-secondary);

  @media screen and (width >= 768px) {
    padding: 2rem;
  }
}

.sort-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;

  > :first-child {
    margin-right: auto;
  }
}
