.default {
  max-width: min(100%, 40rem);
  margin: auto;
  background-color: var(--bgc-dialog);
}

.transaction {
  composes: default;
  padding: 2rem;
  background-color: blue;

  form > * + * {
    margin-top: 1em;
  }
}
