.container {
  display: grid;
  gap: 1rem;

  > * {
    display: grid;
    gap: 0.75rem;
    color: var(--c-light);

    &:first-child {
      color: var(--c-dark);
    }

    h2 {
      font-weight: var(--fw-button);
      font-size: var(--fs-sub-heading);
    }

    span {
      font-weight: var(--fw-heading);
      font-size: var(--fs-number);
    }
  }
}
