.page {
  display: grid;
  /* grid-template-rows: auto auto 1fr; */
}

.header {
  display: flex;
  justify-content: space-between;

  h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-subheading);
  }
}
