.layout {
  display: grid;
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: var(--font-size-heading);
}

.content {
  display: grid;
  gap: var(--spacing-6);

  @media screen and (width > 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.body {
  display: grid;
  gap: var(--spacing-6);
}
