.layout {
  display: grid;
  /* grid-template-rows: auto 1fr; */
  gap: 2rem;
  /* 
  @media screen and (width >= 768px) {
    grid-template-columns: auto 1fr;
  } */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: var(--font-size-heading);
}

.content {
  display: grid;
  gap: var(--spacing-6);
}

.body {
  display: grid;
  gap: var(--spacing-6);
}
