.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-heading {
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-content-primary);
  line-height: 1.5;
}

.footer-text {
  text-align: center;
  max-width: revert;
}

.status-report {
  font-weight: var(--font-weight-heading);
  color: var(--color-text-secondary);
}
