.card-content {
  display: grid;
  grid-template-rows: 1fr 1.5rem 1fr;
  gap: var(--spacing-4);
}

.card-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-4);
}

.card-content-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--spacing-4);
}

.card-content-progress {
  padding: 0.25rem;
  border-radius: var(--border-radius-2);
  background-color: var(--color-background-canvas-primary);
  overflow: hidden;
}

.card-content-progress-bar {
  --width-progress-bar: 100%;
  --color-background-progressbar: currentColor;

  width: var(--width-progress-bar);
  height: 100%;
  border-radius: var(--border-radius-2);
  background-color: var(--color-background-progressbar);
  transition: width 0.5s;
}

.maximum-label {
  font-weight: var(--font-weight-label);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-secondary);
}

.footer-cell {
  display: flex;
  gap: 1rem;
  color: var(--color-text-secondary);
}

.footer-left {
  --color-theme-icon: var(--color-background-canvas-primary);

  width: 0.25rem;
  border-radius: var(--border-radius-2);
  background-color: var(--color-theme-icon);
}

.footer-right {
  display: grid;
  gap: 0.25rem;
}

.footer-label {
  font-weight: var(--font-weight-action);
}

.footer-number {
  font-weight: var(--font-weight-heading);
  color: var(--color-text-primary);
}

.status-report {
  font-weight: var(--font-weight-heading);
  color: var(--color-text-secondary);
}
