.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  /* align-items: start; */
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: var(--font-size-heading);
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.75rem;

  @media screen and (width >= 1440px) {
    grid-template-rows: revert;
    grid-template-columns: 30rem 1fr;

    > :first-child {
      align-self: start;
    }
  }
}

.table {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  padding: 2rem;
  border-radius: var(--border-radius-6);
  background-color: var(--color-background-surface-secondary);
}

.filters {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}
