.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: var(--font-size-heading);
}

.body {
  display: grid;
  align-items: start;
  gap: var(--spacing-6);

  @media screen and (width >= 578px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (width >= 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--spacing-8);
  padding: var(--spacing-6) var(--spacing-5);
  border-radius: var(--border-radius-6);
  background-color: var(--color-background-surface-secondary);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-4);
}

.card-content {
  display: grid;
  grid-template-rows: 1fr 0.5rem 1fr;
  gap: var(--spacing-4);
}

.card-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-4);
}

.card-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-4);
}

.card-content-progress {
  border-radius: var(--border-radius-10);
  background-color: var(--color-background-canvas-primary);
  overflow: hidden;
}

.card-content-progress-bar {
  --width-progress-bar: 100%;

  width: var(--width-progress-bar);
  height: 100%;
  background-color: var(--color-background-surface-tertiary);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-4);
  flex-wrap: wrap;
}

.total-label {
  font-weight: var(--font-weight-heading);
  line-height: 1.5;
  color: var(--color-text-secondary);
}

.total-number {
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading);
}

.percent-number {
  color: var(--color-text-secondary);
}

.target-number {
  color: var(--color-text-secondary);
}

.status-report {
  font-weight: var(--font-weight-heading);
  color: var(--color-text-secondary);
}
