.theme-icon {
  --color-theme-icon: currentColor;

  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--color-theme-icon);
}

.theme-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-cta {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
