.dialog {
  display: grid;
  grid-template-rows: 1fr 0.5rem 1fr;
  gap: var(--spacing-4);
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-4);
}

.dialog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-4);
}

.dialog-progress {
  border-radius: var(--border-radius-10);
  background-color: var(--color-background-surface-primary);
  overflow: hidden;
}

.dialog-progress-bar {
  --width-progress-bar: 100%;

  width: var(--width-progress-bar);
  height: 100%;
  background-color: var(--color-background-surface-tertiary);
}

.dialog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-4);
  flex-wrap: wrap;
}

.total-label {
  font-weight: var(--font-weight-heading);
  line-height: 1.5;
  color: var(--color-text-secondary);
}

.total-number {
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading);
}

.percent-number {
  color: var(--color-status-error);
}

.target-number {
  color: var(--color-text-secondary);
}

.field-error {
  color: var(--color-status-error);
}
