/* Base Button */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-1);
  white-space: nowrap;
  border-radius: 0.375rem;
  font-size: var(--font-size-action);
  font-weight: var(--font-weight-action);
  transition: all 0.2s ease-in-out;
  outline: none;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  svg {
    pointer-events: none;
    flex-shrink: 0;
  }

  svg:not([class*="size-"]) {
    width: 1rem;
    height: 1rem;
  }

  &[aria-invalid="true"] {
    border-color: var(--color-status-error);
    box-shadow: 0 0 0 3px var(--color-status-error);
  }

  &:focus-visible {
    outline: 0.125rem dashed var(--color-border-input-primary);
    outline-offset: 1px;
  }
}

/* Variants */
.default-variant {
  background-color: var(--color-background-cta-primary);
  color: var(--color-text-cta-primary);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  &:hover {
    opacity: 0.5;
  }
}

.link {
  color: var(--color-text-cta-primary);
  text-underline-offset: 4px;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
}

/* Sizes */
.default-size {
  height: 2.25rem;
  padding: 0.5rem 1rem;

  &:has(> svg) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.sm {
  height: 2rem;
  border-radius: 0.375rem;
  gap: 0.375rem;
  padding: 0 0.75rem;

  &:has(> svg) {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

.lg {
  height: 2.5rem;
  border-radius: 0.375rem;
  padding: 0 1.5rem;

  &:has(> svg) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
}

/* Custom */
.logout {
  color: var(--color-text-inverse);
  background-color: var(--color-background-cta-primary);

  &:disabled {
    opacity: 0.5;
  }
}

.login {
  padding: var(--spacing-6);
  color: var(--color-text-cta-primary);
  background-color: var(--color-background-cta-primary);

  &:disabled {
    opacity: 0.5;
  }
}

@media (prefers-reduced-motion) {
  .button[aria-invalid="true"] {
    box-shadow: 0 0 0 3px var(--color-status-error);
  }
}
