.container {
  display: grid;
  grid-template-rows: auto 1fr;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1.5rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--bgc-foreground-primary);
}

.form-container {
  display: grid;
  justify-items: center;
  align-items: center;
  width: min(100% - 2 * var(--p-inline-container), 35rem);
  margin: 0 auto;
}
