.default {
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.dark {
  composes: default;

  background-color: var(--bgc-dark);
}
.light {
  composes: default;

  background-color: var(--bgc-light);
}
