.form {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  border-radius: var(--border-radius-6);
  background-color: var(--color-background-surface-raised-primary);
}

.heading {
  font-size: var(--font-size-subheading);
  font-weight: var(--font-weight-heading);
}

.cta-link {
  text-align: center;

  a {
    text-decoration: underline;
  }
}

.field-label {
  display: grid;
  gap: 0.5rem;
  grid-template-rows: repeat(3, auto);
  font-weight: var(--font-weight-label);
  color: var(--color-text-secondary);

  & > :first-child {
    grid-row: 1 / 2;
  }
}

.field-error {
  color: var(--color-status-error);
}

.field-input {
  padding: var(--spacing-3);
  border: 0.0625rem solid var(--color-border-input-primary);
  border-radius: var(--border-radius-4);
  font-size: 1rem;

  &:focus-visible {
    outline: 0.125rem solid var(--color-border-input-primary);
    outline-offset: 0.125rem;
  }
}

.field-group {
  display: grid;
  align-items: center;

  > * {
    grid-area: 1 / -1;
  }

  button {
    justify-self: end;
  }
}
