.form {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  border-radius: var(--border-radius-6);
  background-color: var(--color-background-surface-raised-1);

  label {
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(3, auto);
    font-weight: var(--fw-medium);
    color: var(--color-text-2);

    & > :first-child {
      grid-row: 1 / 2;
    }
  }

  p:last-child {
    text-align: center;
  }

  h1 {
    font-size: var(--fs-4);
    font-weight: var(--fw-bold);
  }

  a {
    text-decoration: underline;
  }
}

.error {
  color: var(--color-status-error);
}

.stack {
  display: grid;
  align-items: center;

  > * {
    grid-area: 1 / -1;
  }

  button {
    justify-self: end;
  }
}

.input {
  padding: var(--spacing-3);
  border-radius: var(--border-radius-4);
  font-weight: var(--fw-bold);
  font-size: 1rem;

  &:focus-visible {
    outline: 0.125rem solid var(--color-border-action-input-1);
    outline-offset: 0.125rem;
  }
}
