:root {
  color-scheme: light dark;

  --grey-900: #201f24;
  --grey-500: #696868;
  --grey-300: #b3b3b3;
  --white: #ffffff;
  --beige-100: #f8f4f0;
  --beige-500: #98908b;
  --green: #277c78;
  --cyan: #82c9d7;
  --navy: #626070;
  --yellow: #f2cdac;
  --red: #c94736;

  --bgc-body: var(--beige-100);

  --c-logout-button: var(--white);
  --bgc-logout-button: var(--grey-900);
  --c-login-button: var(--white);
  --bgc-login-button: var(--grey-900);

  --c-dashboard-link: var(--grey-500);
  --c-dashboard-top-summary-balance: var(--white);
  --bgc-dashboard-top-summary-balance: var(--grey-900);
  --bgc-dashboard-top-summary-rest: var(--white);

  --bgc-dashboard-bottom-summary: var(--white);

  --bgc-dialog: var(--white);

  --c-error: var(--red);

  --c-outline-input: var(--grey-900);

  --c-hero-description: var(--white);
  --c-label: var(--grey-500);
}
