:root {
  color-scheme: light dark;

  --grey-900: #201f24;
  --grey-500: #696868;
  --grey-300: #b3b3b3;
  --white: #ffffff;
  --beige-100: #f8f4f0;
  --beige-500: #98908b;
  --green: #277c78;
  --cyan: #82c9d7;
  --navy: #626070;
  --yellow: #f2cdac;
  --red: #c94736;

  /* Pattern for names: --<property>-<role>-[<variant>]-[<state>] */
  /* Text */
  --color-border-input-primary: var(--grey-900);
  --color-navigation-primary: var(--green);
  --color-navigation-secondary: var(--grey-300);
  --color-navigation-secondary-hover: var(--white);
  --color-text-primary: var(--grey-900);
  --color-text-secondary: var(--grey-500);
  --color-text-inverse: var(--white);
  --color-text-link-primary: var(--grey-500);
  --color-text-cta-primary: var(--white);

  /* Background */
  --color-background-canvas-primary: var(--beige-100);
  --color-background-surface-primary: var(--grey-900);
  --color-background-surface-secondary: var(--white);
  --color-background-surface-raised-primary: var(--white);
  --color-background-cta-primary: var(--grey-900);
  --color-background-cta-secondary: var(--white);

  /* Status */
  --color-status-error: var(--red);
}
