:root {
  color-scheme: light dark;

  --grey-900: #201f24;
  --grey-500: #696868;
  --grey-300: #b3b3b3;
  --white: #ffffff;
  --beige-100: #f8f4f0;
  --beige-500: #98908b;
  --green: #277c78;
  --cyan: #82c9d7;
  --navy: #626070;
  --yellow: #f2cdac;
  --red: #c94736;

  --bgc-body: var(--beige-100);

  --c-log-button: var(--white);
  --bgc-log-button: var(--grey-900);
}
