:root {
  color-scheme: light dark;

  --grey-900: #201f24;
  --grey-500: #696868;
  --grey-300: #b3b3b3;
  --white: #ffffff;
  --beige-100: #f8f4f0;
  --beige-500: #98908b;
  --green: #277c78;
  --cyan: #82c9d7;
  --navy: #626070;
  --yellow: #f2cdac;
  --red: #c94736;

  /* Pattern for names: --<property>-<role>-[<variant>]-[<state>] */
  /* Text */
  --color-text-1: var(--white);
  --color-text-2: var(--grey-500);
  --color-text-inverse: var(--white);
  --color-border-action-input-1: var(--grey-900);
  --color-text-action-link-1: var(--grey-500);

  /* Background */
  --color-background-canvas-1: var(--beige-100);
  --color-background-surface-1: var(--grey-900);
  --color-background-surface-2: var(--white);
  --color-background-surface-raised-1: var(--white);
  --color-background-action-cta-1: var(--grey-900);

  /* Status */
  --color-status-error: var(--red);
}
