:root {
  --ff-root:
    ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fw-body: var(--fw-normal);

  --fs-1: 0.875rem;
  --fs-2: 1.25rem;
  --fs-3: 1.5rem;
  --fs-4: 2rem;
  --fs-5: 3.25rem;

  --fs-body: var(--fs-1);

  /* --fw-root: 400;
  --fw-label: 500;
  --fw-link: 500;
  --fw-button: 600; */
  --fw-heading: var(--fw-bold);

  /* --fs-root: 1rem;
  --fs-h1: clamp(3rem, 2rem + 5vw, 5rem);
  --fs-h2: clamp(2rem, 1.5rem + 2.5vw, 3rem);
  --fs-h3: clamp(1.5rem, 1rem + 2.5vw, 2.5rem);
  --fs-h4: clamp(1.125rem, 0.6875rem + 2.1875vw, 2rem);
  --fs-button: 1.25rem;
  --fs-label: 1rem; */
}
